* {
    margin: 0 0px;
    padding: 0 15px ;
    
  }

  nav {
    width: 100%;
    height: 50px;
    background:white
  }
  
  .logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }
 
  nav ul {
    float: right;
    display: flex;
    justify-content: space-betweens;
  }

  nav li {
    /* display: inline-block; */
    list-style: none;
    
  }

  nav li a {
    padding: 0px 15px;
    text-decoration: none;
    color: blue;
    text-align: right;
   
  }
  .heand{
    text-align: center;
    justify-content: center;
    font-size: 35px;
    display: flex;
    letter-spacing: 1.5px;
    padding-top: 30px;
   
    
  }


